/* reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 623px) {
    html {
        font-size: 55%;
      }
  }

@media only screen and (max-width: 365px) {
html {
    font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-color: #E6DAEC;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 200%;
    margin-bottom: 1.5rem;
}

li {
    list-style: none;
    display: inline;
}

li:not(:last-child) {
    margin-right: 3rem;
}

/* basic styling */

a {
    text-decoration: none;
    padding-bottom: .5rem;
    border-bottom: 2px solid#aa00ff;
    color: #000;
    font-size: 1.6rem;
}

a:hover {
    background-color: #deb0f5;
    color: #aa00ff;
    cursor: pointer;
}

a:active {
   color: #deb0f5;
   background-color: #aa00ff;
}

/* LAYOUT */

.container {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media only screen and (max-width: 623px) {
    .container {
        width: 75%;
      }
  }

@media only screen and (max-width: 365px) {
.container {
    width: 85%;
    }
}

.main {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* STYLING: LISTS */
nav {
    margin-top: 2rem;
    font-family: 'Lobster', cursive;
}

nav a {
    font-size: 1.7rem;
}

nav li:not(:last-child) {
    border-right: 1px dotted #aa00ff;
    padding-right: 3rem;
}

.socials-icons {
    margin-top: 2rem;
}

.socials-icons img {
    width: 3.5rem;
}