.heading-home {
    font-family: $default-font-family;
    font-weight: bold;
    display: block;
    text-align: right;
    &--main {
        font-size: 4rem;
        @include gradientText($color-secondary, $color-primary-2, bottom left);
        @include respond(phone) {
            font-size: 3rem;
        }
    }
    &--sub {
        font-size: 2rem;
        color: $color-primary-light;
    }
}
