.btn {
    
    &--circle {
        color: $color-black;
        background-color: $color-primary-dark;
        border: 5px solid $color-black;
        // box-shadow: 5px 10px;
        border-radius: 50%;
        margin: 20px;
        padding: 10px;
    }


    &__icon {
        color: $color-black;
        font-size: 4rem;
        background-color: $color-primary-dark;
    }
   
}