.btn {
    &--default {
        padding: .5rem;
        background: linear-gradient(to right, $color-secondary, #ECC7F0);
        color: $color-primary;
        font-family: 'Sniglet', cursive;
        font-size: 3rem;
        font-weight: normal;
        padding: 0 1rem;
        outline: none;
        &:focus {
            outline: 0;
        }
    }
    &--circle {
        color: $color-secondary;
        background-color: transparent;
        border: 5px solid $color-secondary;
        // box-shadow: 5px 10px;
        border-radius: 50%;
        margin: 20px;
        padding: 10px;
    }
    &__icon {
        color: $color-secondary;
        font-size: 4rem;
        background-color: transparent;
    }
}