.popup {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba($color-primary-dark, .8), rgba($color-primary-light, .8));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__btn {
        color: rgb(220, 20, 60);
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color-primary-light;
        border-radius: .3rem;
        outline: none;
        box-shadow: none;
        padding: .3rem;
        &:active {
            transform: translateY(2px);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
        &--exit {
            font-size: 2.3rem;
            border: transparent;
            &:hover {
                color: $color-primary-dark;
            }
        }
        &--link {
            // border: .3rem solid $color-gray-light-1;
            float: right;
            margin: .5rem;
            // &:hover {
            background-image: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light);
            border-color: $color-primary-dark;
            // }
        }
    }
    &__content {
        @include absoluteCenter;
        width: 50%;
        background-color: $color-primary-light;
        box-shadow: .5 .7 .4 rgba($color-black, .7);
        border-radius: .3rem;
    }
    &__screenshot {
        width: 100%;
    }
    &__icons {
        display: block;
        margin-left: 1rem;
        font-size: 3rem;
        background-image: linear-gradient(to right, $color-secondary, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        box-shadow: 0 .2 .4 rgba($color-black, .5);
    }
    &__text {
        padding: 0 1.5rem 2rem 1.5rem;
        font-size: 1.5rem;
    }
}