@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin section-settings($bg-color) {
    min-height: 110vh;
    background-color: $bg-color;
    padding-top: 10rem;
    position: relative;
}