/* COLOR */
$color-primary-light: #FFE1F0;
$color-primary: #FFCCE5;
$color-primary-2: #FFD8EB;
$color-primary-dark: #F8439D;
$color-secondary: #ABFCCD;
$color-secondary-dark: #82F7E0;
$color-white: #fff;
//OLD COLORS
$color-primary-lighter: #ffd1c3;
$color-primary-light: #ffd1c3;
$color-gray-light-1: #777;
$color-grey-dark: rgb(27, 27, 27);
$color-white: #fff;
$color-black: #262425;
//FONT SIZES 
$default-font-size: 3rem;