/* COLOR */

$color-primary: #ffe5dc;
$color-primary-dark: #e2a8be;
$color-secondary: #e0bbe4;
$color-secondary-dark: #bd8cbf;
$color-white: #fff;
//OLD COLORS
$color-primary-lighter: #ffd1c3;
$color-primary-light: #ffd1c3;
$color-gray-light-1: #777;
$color-grey-dark: rgb(27, 27, 27);
$color-white: #fff;
$color-black: #000;
//FONT SIZES 
$default-font-size: 3rem;