.navbar {
    width: 100%;
    overflow: hidden;
    z-index:100;

    a:link {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      text-align: center;
      padding: 0 16px;
      text-decoration: none;
      font-size: 17px;
      text-shadow: .2rem .3rem .4rem rgba(0, 0, 0, .4);
    }

    a {
      color: $color-primary-light;
      text-transform: uppercase;
    }

    a:hover {
      color: $color-primary-dark;
    }
}

  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }