.section-home {
    height: 100vh;
    margin-top: -8rem;
    background-color: $color-black;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
        padding: 0 1rem 0 0;
        height: 200rem;
        // flex-wrap: wrap;
    }
}

.home-box {
    display: inline-block;
    background-image: linear-gradient(to bottom left, $color-secondary, $color-primary 70%);
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    position: relative;
    margin-left: 5rem;
    @include respond(phone) {
        width: 100%;
    }
}

.home-img {
    @include absoluteCenter;
    position: absolute;
    max-height: 70vh;
}