.section-portfolio {
    min-height: 100vh;
    margin-top: -8rem;
    background-color: $color-black;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
        padding: 0 1rem 0 0;
        height: 200rem;
    }
    // padding-top: 10rem;
    // padding-bottom: 20rem;
}

.tarot {
    &-card {
        background-image: linear-gradient(to bottom left, $color-secondary, $color-primary 70%);
        border: 1rem solid $color-black;
        border-radius: .5rem;
        width: 30rem;
        height: 40rem;
        position: relative;
        &:hover {
            transform: translateY(-.5rem);
            cursor: pointer;
        }
    }

    &-border {
        @include absoluteCenter;
        border: .5rem solid $color-black;
        height: 95%;
        width: 95%;
        text-align: center;
    }

    &-img {
        max-width: 95%;
        &--container {
            height: 84%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            transform: translateY(-.5rem);
            cursor: pointer;
        }
    }

    &-text {
        color: $color-black;
        font-family: $default-font-family;
        font-size: 3rem;
        font-weight: 600;
        background-color: transparent;
        border-top: .5rem solid $color-black;
        height: 17%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
   
}
