.section-portfolio {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark, $color-primary-dark);
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.tarot-card {
    background-image: linear-gradient(to bottom, #04145b, #21005b);
    box-shadow: .3rem .5rem .5rem rgba(0, 0, 0, .3);
    border: 1rem solid $color-primary-dark;
    border-radius: .5rem;
    height: 50rem;
    position: relative;
    &:hover {
        transform: translateY(-.5rem);
        cursor: pointer;
    }
}

.tarot-border {
    @include absoluteCenter;
    border: .5rem solid $color-primary-dark;
    height: 46rem;
    width: 95%;
}


.tarot-img {
    max-width: 95%;
    &--container {
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        transform: translateY(-.5rem);
        cursor: pointer;
    }
}

.tarot-text {
    color: #04145b;
    font-family: 'Mirza', cursive;
    font-size: 3rem;
    background-color: $color-secondary;
    border: .5rem solid $color-primary-dark;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}