.section-about {
    @include section-settings($color-primary);
    // padding-bottom: 10rem;
    &--intro {
        padding: 0 20rem;
    }
}

.selfportrait-img {
    height: 50rem;
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
    z-index: 999;
}

.family-img {
    height: 50rem;
    position: absolute;
    bottom: -10%;
    left: 60%;
    transform: translateX(-50%);
    z-index: 998;
}

//Picture Frames
.framed-img {
    width: 100%;
    position: relative;
    padding: .5rem;
    text-align: center;
    &__pic {
        width: 100%;
        position: relative;
        border: solid 1rem $color-primary;
        border-bottom-color: $color-primary-dark;
        border-left-color: $color-primary-light;
        border-right-color: $color-primary-light;
        border-top-color: $color-primary-dark;
        box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .3);
    }
    &__text {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: rgba($color-primary-dark, .8);
        z-index: 99;
        display: none;
        padding: 1rem;
        height: 50%;
        border-radius: .5rem;
    }
    &__heading {
        font-family: 'Yeseva One', cursive;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    & p {
        // font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: left;
    }
    &:hover {
        transform: translateY(-.5rem);
        cursor: pointer;
    }
}

.fade-filter {
    filter: grayscale(100%) blur(1px);
}