.section-about {
    min-height: 120vh;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    padding-top: 10rem;
    // padding-bottom: 10rem;
    &--intro {
        padding: 0 20rem;
    }
}

.selfportrait-img {
    height: 50rem;
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
    z-index: 999;
}

.family-img {
    height: 50rem;
    position: absolute;
    bottom: -10%;
    left: 60%;
    transform: translateX(-50%);
    z-index: 998;
}

//Picture Frames
.framed-img {
    position: relative;
    padding: .5rem;
    text-align: center;
    &__pic {
        max-width: 95%;
        position: relative;
        border: solid 1rem $color-primary;
        border-bottom-color: $color-primary-dark;
        border-left-color: $color-primary-light;
        border-right-color: $color-primary-light;
        border-top-color: $color-primary-dark;
        box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .3);
    }
    &:hover {
        transform: translateY(-.5rem);
        cursor: pointer;
    }
}

.fade-filter {
    filter: grayscale(100%) blur(1px);
}