.section-home {
    height: 100vh;
    background-color: $color-primary-light;
    background-image: url(../images/home/background_home-1.jpg);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;

    &__text-box {
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    }

    &__heading-primary {
        text-align: center;
        padding: 10rem;
    }
}