.section-home {
    height: 100vh;
    background-color: $color-primary;
    // padding: 15rem 10rem;
    @include respond(phone) {
        padding: 0 1rem 0 0;
        height: 200rem;
    }
}

.home-box {
    display: block;
    background-color: $color-secondary;
    height: 50%;
    width: 90%;
    position: relative;
    @include respond(phone) {
        height: 50rem;
        // display: flex;
    }
}

.home-img {
    @include absoluteCenter;
    position: absolute;
    max-height: 70vh;
    @include respond(tab-port) {
        height: 100%;
        // display: flex;
    }
}