/* reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 623px) {
    html {
        font-size: 55%;
      }
  }

@media only screen and (max-width: 365px) {
html {
    font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-color: #E6DAEC;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.5rem;
    line-height: 200%;
    margin-bottom: 1.5rem;
}

li {
    list-style: none;
    display: inline;
}

li:not(:last-child) {
    margin-right: 3rem;
}

/* basic styling */

a {
    text-decoration: none;
    padding-bottom: .5rem;
    border-bottom: 2px solid#aa00ff;
    color: #000;
    font-size: 1.6rem;
}

a:hover {
    background-color: #deb0f5;
    color: #aa00ff;
    cursor: pointer;
}

a:active {
   color: #deb0f5;
   background-color: #aa00ff;
}

/* LAYOUT */
.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: min-content min-content auto min-content;
    min-height: 100vh;
}

.main, .footer {
    grid-column-start: 2;
    grid-column-end: 2;
}

.header, .nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

header {
    display: grid;
    grid-template-rows: auto auto;
    padding-top: 2rem;
}

/* STYLING: LAYOUT COMPONENTS */
.header, .nav {
    background: linear-gradient(to left, #E6DAEC, #b943b3);
}

.nav {
    border-bottom: solid 5px #2e2b30;
    padding-bottom: 3rem;
    padding-top: 2rem;
}


/* STYLING: LISTS */
nav {
    font-family: 'Lobster', cursive;
}

nav a {
    font-size: 1.7rem;
}

nav ul {
    margin: auto 0;
}

nav li:not(:last-child) {
    border-right: 1px dotted #aa00ff;
    padding-right: 3rem;
}

.socials-icons img {
    width: 3.5rem;
}

/* UTILITIES */
.text-center {
    text-align: center;
}